:root {
    // В CSS :root является псевдоклассом, который выбирает корневой элемент документа. Для HTML это <html>. Когда вы определяете переменные в :root, они становятся доступными глобально для всего документа.
    // Это полезно, когда вы хотите определить набор переменных, которые будут использоваться во всем документе. Например, вы можете определить цвета, шрифты, отступы и другие общие стили в :root, и затем использовать эти переменные в любом месте вашего CSS.

    --font-family-main: consolas, "Times New Roman", serif;     // основной шрифт
    --font-size-m: 16px;    // объявление CSS переменной с именем --font-size-m, которая устанавливает размер шрифта на 16 пикселей.
    --font-line-m: 24px;    // объявление CSS переменной с именем --font-line-m, которая устанавливает высоту строки (line height) на 24 пикселя.
    --font-m: var(--font-size-m) / var(--font-line-m) var(--font-family-main);

        // объявление CSS переменной с именем --font-m. Значение этой переменной состоит из трех частей
        // знак деления / используется для создания свойства font в CSS. Это свойство позволяет задать все параметры шрифта в одну строку.
            // Синтаксис свойства font следующий: font: [font-style] [font-variant] [font-weight] [font-stretch] font-size/line-height [font-family];
            // Таким образом, --font-m = 16px / 24px Consolas, "Times New Roman", Serif;
        // Это значение можно использовать в свойстве font в CSS, чтобы задать размер шрифта, высоту строки и семейство шрифтов одновременно.

    --font-size-l: 24px;
    --font-line-l: 32px;
    --font-l: var(--font-size-l) / var(--font-line-l) var(--font-family-main);

    --font-size-xl: 32px;
    --font-line-xl: 40px;
    --font-xl: var(--font-size-xl) / var(--font-line-xl) var(--font-family-main);


    // размеры
    --navbar-height: 50px;
    --sidebar-width: 300px;
    --sidebar-width-collapsed: 80px;
}