.app.dark {
    // Это называется областью видимости CSS.
    // переменные будут доступны только для элементов, которые имеют оба класса app и dark.
    // Это может быть полезно, когда вы хотите определить различные стили для разных состояний или вариантов вашего приложения. Например, вы можете иметь один набор стилей для светлого режима и другой набор стилей для темного режима.
    
    --bg-color: #2d0859;
    --inverted-bg-color: #d7e428;

    --primary-color: #d0df03;   // цвет шрифта, который делает акценты: загаловки \ кнопки \...
    --secondary-color: #d4dc61; // обычный цвет шрифта: текст и тд
    --inverted-primary-color: #0232c2;
    --inverted-secondary-color: #090949;
}