.app.light {
    --bg-color: #d7e428;
    --inverted-bg-color: #2d0859;

    --primary-color: #1f0045;
    --secondary-color: #321a50;
    --inverted-primary-color: #d0df03;
    --inverted-secondary-color: #d4dc61;
}