.app.light {
    --bg-color: #e8e8ea;
    --inverted-bg-color: #090949;

    --primary-color: #0232c2;
    --secondary-color: #090949;
    --inverted-primary-color: #ffffff;
    --inverted-secondary-color: #e8e8ea;
}